@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

nav .brand-logo {
    margin-left: 50px;
    font-size: 25px;
}

nav {
    font-family: 'Akaya Telivigala', cursive;
    margin-bottom: 50px;
}