@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');



img {
  height: 80%;
  width: 100%;
  justify-content: center;
}
.card-body {
  margin-top: 50px;

}

.card {
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(230, 146, 11, 0.2);
}

Card {
  height: 100px;
  width: 200px;
}
.card .card-title, .text-muted,
h1 {

  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 40px;
}



