@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');

img {
  height: 80%;
  width: 100%;
  justify-content: center;
}

.card {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

Card {
  height: 100px;
  width: 200px;
}
.card .card-title,
h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 40px;
}


